# MongoDB baglanti bilgileri (mağaza teslimat kuyrugu icin)
MONGODB_URI=
MONGODB_DB=

# /api/queue ve /api/queue/complete endpoint'lerini korumak icin
# Minecraft plugin'inizin de kullanacagi gizli anahtar
SECRET_KEY=
